* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
:root {
  --animate-duration: 2000ms;
}
.title_top {
  color: #f55f8d;
  /* padding: 15px 0px; */
  font-size: 20px;
}
.title_bot {
  padding: 20px 0px;
  font-size: 4rem;
}
.text {
  font-size: 16px;
  color: #767676;
  margin-bottom: 16px;
}
.btn {
  padding: 25px 55px;
  border-radius: 60px;
  background-color: aqua;
  border: transparent;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: white;
  transition: 0.5s;
  font-size: 16px;
  z-index: 2;
  text-transform: uppercase;
}
.btn:hover {
  background-position: right;
}
.container {
  max-width: 1199px;
  margin: 0px auto;
}
/* start header */
header {
  padding: 30px 0px;
  position: absolute;

  width: 100%;
}

header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .navbar {
  display: flex;
  align-items: center;
  z-index: 3;
}
header .navbar ul {
  display: flex;
  list-style-type: none;
  margin-right: 25px;
}
.navbar li {
  margin: 20px 15px;
  display: inline-block;
}
.navbar li i {
  margin-left: 3px;
  font-size: 0.8rem;
}
.navbar li a {
  text-decoration: none;
  color: black;
  transition: all 0.3s;
}
.navbar li a span {
  font-size: 15px;
  font-weight: 500;
  transition: 0.2s;
  display: inline-block;
  /* transition: all 1s; */
}

.navbar li a:hover {
  color: #f55f8d;
}
.navbar li a:hover span {
  animation: upsidedown 0.3s;
}
@keyframes upsidedown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
/* end header */

/* start introduce */
.introduce {
  padding-top: 190px;
  background-image: url(./picture/pic2.png);
  content: "";
  background-size: 100%;
  background-position: top;
  width: 100vw;
  top: 0px;
  overflow: hidden;
}
.introduce .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.introduce-left h3 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.introduce-left h1 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.introduce-left p {
  font-size: 18px;
  margin-bottom: 15px;
  color: #767676;
  line-height: 28px;
}
.introduce-left ul {
  margin-bottom: 20px;
  color: #767676;
}
.introduce-left ul li {
  list-style: none;
  padding: 10px 0px;
  font-size: 24px;
}
.introduce-left ul li i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-radius: 50%;
  font-weight: 900;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  margin-right: 10px;
}

/* end introduce */
/* start service */
.service {
  padding: 90px 0px;
  text-align: center;
  background-image: url(./picture/bg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.service .service_grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
  max-width: fit-content;
  margin-top: 20px;
}
.service .service_content {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  transition: 0.5s;
}
.service .service_content:hover {
  transform: translateY(-5%);
}
.service_content .container {
  padding: 40px;
}

.service_content img {
  width: 215px;
}
.service_content h3 {
  font-size: 1.5rem;
  padding: 15px 0px;
}

/* end service */
/* start about us */
.about_us {
  padding: 60px 0px;
  background-image: url(./picture/bg15.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about_us .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.about_us .img_container {
  width: 60%;
  position: absolute;
  left: -15%;
}
.about_us .img_container img {
  width: 100%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.about_us .about_us_container {
  width: 50%;
}
.about_us .about_us_container p i {
  border: #f55f8d 1px solid;
  border-radius: 50%;
  height: 25px;
  line-height: 25px;
  width: 25px;
  text-align: center;
  color: #f55f8d;
  margin-right: 16px;
}
/* end about us */
/* start number */
.number {
  padding: 80px;
  text-align: center;
  background-image: url(./picture/bg14.png);
}
.number .number_content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.number_item i {
  font-size: 45px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
}
.number_item h1 {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
  margin-bottom: 10px;
}
.number_item p {
  color: #262626;
  font-size: 18px;
}

/* end number */
/* start feature */
.feature {
  padding: 80px 0px;
  background-image: url(./picture/bg2.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.feature .container {
  display: flex;
}
.feature .feature_left {
  width: 50%;
}
.feature_left .feature_tag .tag_container {
  padding-right: 30px;
  margin: 24px 0px;
}
.feature_left .feature_tag .tag_container2 {
  padding-left: 30px;
  margin: 10px 0px;
}

.feature_left .feature_tag .container_item {
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  background-color: #fff;
  padding: 24px 32px 24px 24px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: all 1s;
  position: relative;
  overflow: hidden;
  z-index: 2;
  /* cursor: pointer; */
}
.feature .container_item::after {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  opacity: 0;
  top: 0px;
  left: 0px;
  content: "";
  transition: all 1s;
  position: absolute;
  width: 100%;
  height: 100%;
}
.feature .container_item i {
  font-size: 5rem;
  color: #f55f8d;
  margin-right: 24px;
  transition: all 1s;
  /* z-index: 2; */
}
.feature_left .feature_tag .container_item:hover::after,
.container_item:hover i,
.container_item:hover h3,
.container_item:hover p {
  opacity: 1;
  color: #fff;
}

.feature .item_text,
.feature .item_icon {
  z-index: 1;
  transition: all 1s;
}
.feature .item_text h3 {
  font-size: 1.5rem;
  /* z-index: 2; */
  transition: 1s;
}
.feature .item_text p {
  line-height: 24px;
  /* z-index: 2; */
  transition: 1s;
}
.feature .feature_right {
  width: 50%;
}
.feature .feature_right img {
  width: 110%;
  animation: turn 5s infinite;
}

@keyframes turn {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }

  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}

/* end feature */
/* start portfo */
.portfo {
  padding: 80px;
}

.portfo_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;

  gap: 35px;
  width: 100%;
}
.grid_item {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.portfo_grid .item1 {
  grid-column: 1 / span 2;
}
.portfo_grid .item5 {
  grid-column: 1 / span 2;
  grid-row: 3/4;
}
.portfo_grid .item6 {
  grid-column: 3 / span 1;
  grid-row: 2/4;
}
.grid_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfo .grid_text {
  /* display: none; */
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  transition: all 0.75s;
  color: #fff;
}
.portfo .grid_icon {
  /* display: none; */
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px, -20px);
  transition: all 0.75s;
  text-align: center;
}
.grid_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.75s;
}
.grid_overlay::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}

.grid_item:hover ::before {
  left: 125%;
}
.grid_item:hover .grid_icon,
.grid_item:hover .grid_text {
  transform: translate(0px);
}
.grid_item:hover .grid_overlay {
  opacity: 1;
}
/* end portfo */

/* start plan */
.plan {
  padding: 80px 0px;
  text-align: center;
}
.plan .plan_grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 30px;
}
.plan_grid .plan_item {
  padding: 35px 60px;
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
  border-image: 100 round;
  transition: all 0.5s;
}
.plan_item:hover {
  border-image: url(./picture/br.png) 1 round;
}

.plan_grid .plan_item img {
  width: 36%;
  padding-bottom: 20px;
}
.plan_grid .plan_item h3 {
  font-size: 2.2rem;
  padding: 10px 0px;
}
.plan_grid .plan_item p {
  padding: 20px 0px;
  font-size: 1.3rem;
  font-weight: 700;
}
.plan_grid .plan_item p span {
  color: #f8ae56;
  font-size: 3rem;
  font-weight: 1000;
}
.plan_grid .plan_item ul {
  list-style: none;
  padding-bottom: 20px;
}
.plan_grid .plan_item ul li {
  text-align: left;
  padding: 6px;
}
.plan_grid .plan_item ul li i {
  font-size: 12px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #feeff3;
  color: #f55f8d;
  border-radius: 100%;
  margin-right: 15px;
}
.plan_item button {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  transition: all 0.5s;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  outline: 0;
  text-transform: uppercase;
  line-height: 1.2;
}
/* end plan */

/* start testimonial */
.swiper .container{
  text-align: center;
  padding-top: 80px;
}
.testimonial-content {
  max-width: 1199px;
  margin: auto;
  text-align: center;
  padding: 100px 0;
}

.testimonial-thumbs .testimonial-pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 4px;
  position: relative;
  z-index: 2;
  background-color: #f55f8d;
}

.testimonial-thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
  overflow: hidden;
}
.testimonial-comment {
  min-height: 300px;
  width: 100%;
}
.testimonial-comment .swiper-wrapper {
  padding-bottom: 20px;
}
.testimonial-thumbs .testimonial-pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}
.swiper-container .shape-bx {
  position: relative;
  height: 35px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  opacity: 0;
  transition: all 1s;
  background-color: #f55f8d;
}
.shape-bx::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(./picture/pattern12.png);
  background-position: bottom;
  background-size: contain;
  height: 100%;
  width: 100%;
  transition: all 1s;
}
.testimonial-thumbs .swiper-slide-thumb-active .shape-bx {
  opacity: 1;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
  padding: 0 0 40px;
}
.testimonial-pic::before {
  height: 15px;
  width: 15px;
  bottom: 35px;
  content: "";
  background-color: #f55f8d;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.swiper-slide-thumb-active .testimonial-pic::before,
.swiper-slide-thumb-active .testimonial-pic::after {
  opacity: 1;
}

.testimonial-pic::after {
  height: 10px;
  width: 10px;
  bottom: 0;
  content: "";
  background-color: #f55f8d;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.testimonial-text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
  margin: 20px 100px;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.testimonial-text h1 {
  font-size: 22px;
  font-weight: 800;
  color: #000;
  line-height: 26px;
  margin-bottom: 10px;
}
.testimonial-text h3 {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
  color: #f55f8d;
  margin-bottom: 20px;
}

.testimonial-text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
  color: #636363;
}
.testimonial-text i {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 70px;
  color: #f55f8d;
  transform: rotate(-180deg);
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0,0,0);
  z-index: 10;
  width: 100%;
}
.swiper-pagination-bullet{
  margin: 5px;
}
.swiper-pagination-bullet-active{
  background-color: #f55f8d;
}


/* end testimonial */

/* start blog */
.blog {
  background-image: url(./picture/bg16.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-bottom: 50px;
}
.blog__item {
  text-align: left;
  background: rgba(245, 95, 141, 0.1);
  border-radius: 8px;
}
.blog__header {
  position: relative;
}
.blog__header img {
  width: 100%;
  border-radius: 8px;
}
.blog__header p {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  position: absolute;
  bottom: -20px;
  left: 15px;
}
.blog__body {
  padding: 30px 15px 20px 15px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.blog__body h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
}
.blog__footer {
  display: flex;
  align-items: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.blog__footer i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: sub;
}
.blog__footer p:first-of-type {
  margin-right: 20px;
}
.blog__footer p:first-of-type span {
  color: #f55f8d;
}

/* end blog */

/* Start footer */
footer {
  background-image: url(./picture/bg4.png);
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}
footer::before {
  content: "";
  background-image: url(./picture/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer__top {
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  background-image: url(./picture/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
}
.footer__form,
.footer__text {
  width: 50%;
}
.footer__text h2 {
  font-size: 28px;
  color: #262626;
}
.footer__form form {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0, 0, 0, 0.1);
}
.footer__form input {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  outline: 0;
  transition: all 0.5s;
}
.footer__form input:focus,
.footer__form input:hover {
  border-color: #f55f8d;
}
.footer__form button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-color: transparent;
  transition: all 0.5s;
  border-radius: 0 0.5rem 0.5rem 0;
  color: #fff;
  cursor: pointer;
}
.footer__form button:hover {
  background-position: right center;
}
.footer__form button:hover i {
  animation: toLeftFromRight 0.5s forwards;
  display: inline-block;
}
.footer__bottom {
  display: flex;
  padding: 70px 0;
  position: relative;
}
.footer__item {
  width: 25%;
}
.footer__item h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}
.footer__item h3::after,
.footer__item h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}
.footer__item h3::before {
  width: 15px;
}
.footer__item h3::after {
  width: 45px;
  left: 20px;
}
.footer__contact li {
  padding: 8px 0;
  display: flex;
  align-items: center;
}
.footer__contact i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  display: block;
  border-radius: 50px;
}
.footer__item li {
  padding: 0.5rem 0;
}
.footer__item a {
  color: #636363;
  font-size: 16px;
  transition: all 0.5s;
}
.footer__item i {
  font-weight: 700;
  margin-right: 10px;
}
.footer__item a:hover {
  color: #fff;
}
.footer__copyright {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}
.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__left span {
  color: #f55f8d;
}
.footer__copyright a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}
.footer__copyright a:hover {
  background: #f55f8d;
}

/* end footer */

/* start backtotop */
.backToTop {
  width: 50px;
  height: 50px;
  background: #f55f8d;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #fff;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
@keyframes toLeftFromRight {
  49% {
    transform: translateX(100%);
  }
  50% {
    opacity: 0;
    transform: translateX(-100%);
  }
  51% {
    opacity: 1;
  }
}


/* end backtotop */